!!! Strict
%html
	%head
		%title= "Wordfoo"
		%script{ :type => "text/javascript", :src => "/js/jquery.min.js" }
		%script{ :type => "text/javascript", :src => "/js/utility.js" }
		%link{ :rel => "stylesheet", :type => "text/css", :href => "/css/stylesheet.css" }
	%body
		%h1= "Wordfoo"
		= yield