!!! Strict
%html
  %head
    %title= "Wordfoo"
    %script{ :type => "text/javascript", :src => "/js/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "/js/utility.js" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/stylesheet.css" }
  %body
    #wrapper
      %a#main-title-link{ :href => "/" }
        %h1#main-title= "Wordfoo"
      = yield
      .clear
:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
:javascript
  try {
    var pageTracker = _gat._getTracker("UA-11594954-1");
    pageTracker._trackPageview();
  } catch(err) {}